<div class="bg-gradiant" style="height: 1000px; width: 100%; background-image: linear-gradient(rgb(17, 24, 39),rgb(24, 59, 134)); margin-left: 1px;">

    <h3  style="font-weight: 300; font-size: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: rgb(255, 255, 255); margin-left: 700px; padding-top: 200px;
    ">Benefits</h3>
   
    
   <div class="container">
    

       <div class="card">
           <div class="imgBx">
               <img src="assets/Vector.png">
           </div>
           <div class="content">
               <h2>24h Available</h2>
               <p>Lorem ipsum dolor sit consectetur adipiscing elit. In sit leo auctor ornare felis, sapien.Lorem ipsum dolor sit consectetur adipiscing elit. In sit leo auctor ornare felis, sapien.Lorem ipsum dolor sit consectetur adipiscing elit. In sit leo auctor ornare felis, sapien.</p>
           </div>
       </div>

       <div class="card">
        <div class="imgBx">
            <img src="assets/Vector 2.png">
        </div>
        <div class="content">
            <h2>Best Customer Care</h2>
            <p>Lorem ipsum dolor sit consectetur adipiscing elit. In sit leo auctor ornare felis, sapien.Lorem ipsum dolor sit consectetur adipiscing elit. In sit leo auctor ornare felis, sapien.Lorem ipsum dolor sit consectetur adipiscing elit. In sit leo auctor ornare felis, sapien.</p>
        </div>
    </div>

    <div class="card">
        <div class="imgBx">
            <img src="assets/vector3.png">
        </div>
        <div class="content">
            <h2>Top Fuel Pumbs</h2>
            <p>Lorem ipsum dolor sit consectetur adipiscing elit. In sit leo auctor ornare felis, sapien.Lorem ipsum dolor sit consectetur adipiscing elit. In sit leo auctor ornare felis, sapien.Lorem ipsum dolor sit consectetur adipiscing elit. In sit leo auctor ornare felis, sapien.</p>
        </div>
    </div>


    <div class="card">
        <div class="imgBx">
            <img src="assets/Vector4.png">
        </div>
        <div class="content">
            <h2>Fast Delivery</h2>
            <p>Lorem ipsum dolor sit consectetur adipiscing elit. In sit leo auctor ornare felis, sapien.Lorem ipsum dolor sit consectetur adipiscing elit. In sit leo auctor ornare felis, sapien.Lorem ipsum dolor sit consectetur adipiscing elit. In sit leo auctor ornare felis, sapien.</p>
        </div>
    </div>



   </div>

   
   
</div> 
 
    
    
    
    
    
    