<div class="bg-gradiant" style="height: 1000px; width: 100%; background-image: linear-gradient(rgb(17, 24, 39),rgb(24, 59, 134)); margin-left: 1px;">


<img style="margin-left: 950px; margin-top: 200px;" src="assets/home.png">

<h1 style="font-weight: 600; font-size: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: rgb(206, 99, 0); margin-left: 180px; margin-top: -305px;">DON'T STOP YOUR </h1><br>
<h1 style="font-weight: 600; font-size: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:rgb(206, 99, 0) ; margin-left: 380px; ">JOURNEY </h1>
<h2 style="font-weight: 600; font-size: 25px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:rgb(206, 99, 0) ; margin-top: 50px;
margin-left: 230px;">Call now to order fuel</h2>
<h3 style="font-weight: 600; font-size: 25px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color:rgb(250, 250, 250) ;
margin-left: 250px;">+91 99-109-65509</h3>

<!-- <div matRipple [matRippleColor]="red">
  <button class="btn" >Quick Enquiry</button>
</div> -->

<button style="margin-left: 320px;  padding: 14px 40px; font-size: 16px ; cursor : pointer; background-color: rgb(206, 99, 0); color: white; border-radius: 10px; " class="example-ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color">
  Click me
</button>


<!-- <div style="margin-top: 180px;"><hr style="opacity: 30%;"></div>
<div style="margin-top: -150px;">
<h1 style="font-weight: 600; font-size: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: rgb(255, 255, 255); margin-left: 300px;  margin-top: 200px;">1+</h1>


<h1 style="font-weight: 600; font-size: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: rgb(255, 255, 255); margin-left: 645px; margin-top: -47px;  ">5+</h1>



<h1 style="font-weight: 600; font-size: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: rgb(255, 255, 255); margin-left: 980px; margin-top: -47px;  ">3+</h1>


<h1 style="font-weight: 600; font-size: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: rgb(255, 255, 255); margin-left: 1300px; margin-top: -47px;  ">50+</h1>

<p style="color: white; margin-top: 80px; font-size: 20px; margin-left: 235px;">Years of Experience</p>

<p style="color: white; margin-top: -32px; font-size: 20px; margin-left: 585px;">Delivery Vehicles</p>

<p style="color: white; margin-top: -33px; font-size: 20px; margin-left: 940px;">Delivering Cities </p>

<p style="color: white; margin-top: -33px; font-size: 20px; margin-left: 1270px;">Business Clients</p>
</div> -->


<mat-card style=" max-width: 400px; margin-bottom: 8px; margin-left: 100px; margin-top: 80px; border-radius: 30px;">
  <mat-card-title-group>
    <mat-card-title style="margin-top: 20px;">1+</mat-card-title>
    <mat-card-subtitle  style="margin-top: 20px;">Years of Experience</mat-card-subtitle>
    <img style="padding: 20px;" mat-card-lg-image src="assets/smiley.png" >
  </mat-card-title-group>
  <mat-card-content>
    <h4>An internship or apprenticeship can boost your chances of getting an oil and gas job. It's a great way to get your foot in the door and get the experience that you need. </h4>
  </mat-card-content>
</mat-card>

<mat-card style=" max-width: 400px; margin-left: 630px; margin-top: -306px; border-radius: 30px;">
  <mat-card-title-group>
    <mat-card-title style="margin-top: 20px;">5+</mat-card-title>
    <mat-card-subtitle  style="margin-top: 20px;">Delivery Vehicles</mat-card-subtitle>
    <img style="padding: 20px; width: 215px;" mat-card-lg-image src="assets/car.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    <h4>An internship or apprenticeship can boost your chances of getting an oil and gas job. It's a great way to get your foot in the door and get the experience that you need. </h4>
  </mat-card-content>
</mat-card>

<mat-card style=" max-width: 400px; margin-left: 1170px; margin-top: -297px; border-radius: 30px;">
  <mat-card-title-group>
    <mat-card-title style="margin-top: 20px;">50+</mat-card-title>
    <mat-card-subtitle  style="margin-top: 20px;">Business Clients</mat-card-subtitle>
    <img style="padding: 20px; width: 215px;" mat-card-lg-image src="assets/car.jpg" >
  </mat-card-title-group>
  <mat-card-content>
    <h4>An internship or apprenticeship can boost your chances of getting an oil and gas job. It's a great way to get your foot in the door and get the experience that you need. </h4>
  </mat-card-content>
</mat-card>


</div>






